@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap&subset=cyrillic-ext');

//font-family: 'Roboto', sans-serif;
//font-family: 'League Spartan', sans-serif;

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Medium.woff2') format('woff2'),
		url('../fonts/Lato-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

//----------------------------------------------------------> header

.header {
	font-family: 'Lato';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;

	// .header__wrapper

	&__wrapper {
		max-width: 1650px;
		margin: 0px auto;
		padding: 60px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 767.98px) {
			flex-direction: column;
			row-gap: 15px;
			padding: 30px 15px;
		}
	}

	// .header__logo

	&__logo {
		color: #263238;
		font-weight: 500;
		font-size: 36px;
		line-height: 1.19;
		display: inline-block;

		& span {
			text-transform: uppercase;
		}
	}

	// .header__nav

	&__nav {}

	// .header__buttons

	&__buttons {
		display: inline-flex;
		padding-left: 10px;
		gap: 16px;
		flex-wrap: nowrap;

		@media (max-width: 767.98px) {
			padding: 0;
		}

		@media (max-width: 500px) {
			flex-direction: column;
			gap: 10px;
			width: 100%;
		}
	}
}

.nav-header {

	// .nav-header__items

	&__items {
		display: flex;
		column-gap: 44px;
		row-gap: 15px;
		padding: 0px 10px;
		flex-wrap: wrap;

		@media (max-width: 920px) {
			column-gap: 20px;
			justify-content: center;
		}
	}

	// .nav-header__item

	&__item {
		align-self: center;
	}

	// .nav-header__link

	&__link {
		position: relative;
		display: inline-block;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.22;
		color: #263238;
		transition: all 0.3s ease 0s;

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 1.5px;
			background-color: #263238;
			left: 0;
			bottom: 0;
			transition: all 0.3s ease 0s;
		}

		&:hover {
			text-shadow: -3px 0px 2px rgba(38, 50, 56, 0.418);
		}

		&:hover.nav-header__link::before {
			width: 100%;
		}
	}
}

.buttons-header {

	// .buttons-header__item

	&__item {
		color: #263238;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.22;
		text-transform: capitalize;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: 1px solid #263238;
		border-radius: 10px;
		max-height: 66px;
		white-space: nowrap;
		transition: all 0.3s ease 0s;

		&:hover {
			background: #008000;
			color: #fff;
			border: 1px solid #008000;
		}
	}
}

.buttons-header__item_1 {
	padding: 20px 44px 20px 45px;

	@media (max-width: 500px) {
		padding: 16px 44px;
	}
}

.buttons-header__item_2 {
	padding: 20px 25px 20px 26px;

	@media (max-width: 500px) {
		padding: 16px 25px;
	}
}

//----------------------------------------------------------> page

.page {
	font-family: 'League Spartan', sans-serif;
	color: #263238;

	background: url("../img/main-page/dekor/ellipse-up.svg") 0 0 no-repeat,
		url("../img/main-page/dekor/ellipse-down.svg") 0 0 no-repeat;
	font-family: 'League Spartan', sans-serif;

	@media (max-width: 1500px) {
		background: none;
	}

	// .page__container

	&__container {
		max-width: 1650px;
		padding-top: 251px;
		padding-bottom: 99px;
		background: url("../img/main-page/dekor/bag.svg") 68.92% 12.5% no-repeat,
			url("../img/main-page/dekor/star-dark.svg") 24.1% 36.3% no-repeat,
			url("../img/main-page/dekor/round-dark.svg") 82.4% 38% no-repeat,
			url("../img/main-page/dekor/dollar-lines.svg") 98.3% 33.7% no-repeat,
			url("../img/main-page/dekor/dollar.svg") 1.5% 62.5% no-repeat,
			url("../img/main-page/dekor/round-light.svg") 30.2% 69.3% no-repeat,
			url("../img/main-page/dekor/star-light.svg") 83.4% 71.8% no-repeat;

		@media (max-width: 1296px) {
			padding-bottom: 40px;
		}

		@media (max-width: 767.98px) {
			padding-bottom: 30px;
			background: url("../img/main-page/dekor/bag.svg") 87.42% 15.5% no-repeat,
				url("../img/main-page/dekor/star-dark.svg") 24.1% 41% no-repeat,
				url("../img/main-page/dekor/round-dark.svg") 82.4% 38% no-repeat,
				url("../img/main-page/dekor/dollar-lines.svg") 98.3% 33.7% no-repeat,
				url("../img/main-page/dekor/dollar.svg") 1.5% 62.5% no-repeat,
				url("../img/main-page/dekor/round-light.svg") 30.2% 69.3% no-repeat,
				url("../img/main-page/dekor/star-light.svg") 83.4% 71.8% no-repeat;
		}

		@media (max-width: 500px) {
			background: url("../img/main-page/dekor/dollar-lines.svg") 98.3% 33.7% no-repeat,
				url("../img/main-page/dekor/dollar.svg") 1.5% 62.5% no-repeat,
				url("../img/main-page/dekor/round-light.svg") 30.2% 69.3% no-repeat,
				url("../img/main-page/dekor/star-light.svg") 83.4% 71.8% no-repeat;
		}

		@media (max-width: 379px) {
			padding-top: 300px;
		}
	}



	// .page__main

	&__main {}
}

.title {
	font-weight: 700;
	font-size: 70px;
	line-height: 1.11;
	color: #263238;
}

.text {
	font-weight: 400;
	font-size: 18px;
	color: #263238;
}

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'League Spartan', sans-serif;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.11;
	background: #008000;
	border-radius: 10px;
	text-transform: capitalize;
	transition: all 0.3s ease 0s;

	&:hover {
		background: #0b4d0b;
	}
}

.form-block {
	max-width: 533px;
}

.main-page {

	// .main-page__title

	&__title {
		max-width: 849px;
		margin: 0px auto;
		text-align: center;
		margin-bottom: 69px;

		& span {
			text-transform: capitalize;
			color: #008000;
		}

		@media (max-width: 767.98px) {
			font-size: 50px;
			margin-bottom: 15px;
		}

		@media (max-width: 500px) {
			font-size: 32px;
			font-weight: 500;
		}
	}

	// .main-page__text

	&__text {
		line-height: 1.8;
		max-width: 582px;
		margin: 0px auto;
		margin-bottom: 48px;
		text-align: center;

		@media (max-width: 500px) {
			margin-bottom: 20px;
		}
	}

	// .main-page__form

	&__form {
		margin: 0px auto 209px;
		//margin-bottom: 209px;

		@media (max-width: 1296px) {
			margin-bottom: 60px;
		}
	}

	// .main-page__footer

	&__footer {}
}

.form {

	// .form__content

	&__content {
		display: flex;
		justify-content: space-between;
		padding: 6px;
		background: #e9ebeb;
		border-radius: 10px;
		transition: all 0.3s ease 0s;

		@media (max-width: 500px) {
			flex-direction: column;
		}

		&:hover {
			box-shadow: 0px 0px 7px 5px rgba(38, 50, 56, 0.27);
		}
	}

	// .form__input

	&__input {
		height: 64px;
		padding: 25px;
		//background: rgba(38, 50, 56, 0.1);
		background: #e9ebeb;
		flex: 1 1 auto;
		outline: none;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.11;
		color: #263238;
		border-radius: 10px;
		transition: all 0.3s ease 0s;

		@media (max-width: 500px) {
			height: 56px;
		}

		&::placeholder {
			font-weight: 500;
			font-size: 18px;
			line-height: 1.11;
			color: #263238;
		}


	}

	// .form__button

	&__button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
		background: #008000;
		border-radius: 10px;
		text-transform: capitalize;
		padding: 22px 36px 22px 35px;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.11;
		transition: all 0.3s ease 0s;
		cursor: pointer;

		&:hover {
			background: #0b4d0b;
		}

		@media (max-width: 500px) {
			padding: 18px 36px 18px 35px;
		}
	}
}

//.form-input {}

.footer-main-page {

	// .footer-main-page__container

	&__container {
		//padding: 0px 100px;

		@media (max-width: 767.98px) {
			padding: 0;
		}
	}

	// .footer-main-page__items

	&__items {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		flex-wrap: wrap;

		@media (max-width: 1300px) {
			justify-content: center;
		}

		@media (max-width: 1296px) {
			flex-direction: column;
			gap: 30px;
			align-items: center;
		}
	}

	// .footer-main-page__item

	&__item {
		cursor: pointer;
	}
}


//----------------------------------------------------------> how

.how {
	font-family: 'League Spartan', sans-serif;
	color: #263238;

	// .how__container

	&__container {
		display: flex;
		padding-top: 100px;
		padding-bottom: 100px;
		justify-content: space-between;

		@media (max-width: 1425px) {
			padding-top: 60px;
			padding-bottom: 60px;
		}

		@media (max-width: 1300px) {
			flex-direction: column;
			align-items: center;
			padding-top: 20px;
			padding-bottom: 20px;
			row-gap: 20px;
		}

		@media (max-width: 630px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	// .how__services

	&__services {
		//flex: 0 0 670px;
		max-width: 670px;
		width: 100%;
		//padding: 0px 123px 0px 0px;

		@media (max-width: 1300px) {
			max-width: none;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .how__picture

	&__picture {}
}

.services-how {

	// .services-how__title

	&__title {
		font-size: 64px;
		max-width: 560px;
		margin: 0px 0px 32px 0px;
		line-height: 1.125;

		@media (max-width: 1300px) {
			max-width: none;
			margin-bottom: 20px;
			text-align: center;
		}

		@media (max-width: 630px) {
			font-size: 40px;
		}

		& span {
			color: #008000;
			text-transform: capitalize;
		}
	}

	// .services-how__text

	&__text {
		line-height: 1.77;
		margin: 0px 0px 48px 0px;
		max-width: 610px;
		padding: 0px 15px 0px 0px;

		@media (max-width: 1300px) {
			max-width: none;
			padding: 0;
			margin-bottom: 20px;
		}

		@media (max-width: 630px) {
			line-height: 1.4;
		}

		@media (max-width: 550px) {
			text-align: center;
		}
	}

	// .services-how__items

	&__items {
		max-width: 490px;

		@media (max-width: 1300px) {
			max-width: none;
		}
	}
}

.item-how {

	// .item-how__item

	&__item {
		display: flex;
		column-gap: 32px;

		@media (max-width: 1300px) {
			column-gap: 20px;
		}

		&:not(:last-child) {
			margin-bottom: 48px;

			@media (max-width: 1300px) {
				margin-bottom: 20px;
			}
		}
	}

	// .item-how__link

	&__link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-width: 110px;
		min-height: 110px;
		border-radius: 50%;
		background: rgba(0, 128, 0, 0.1);
		transition: all 0.3s ease 0s;

		&:hover {
			background: rgba(48, 102, 48, 0.26);
		}

		@media (max-width: 660px) {
			min-width: 70px;
			min-height: 70px;
		}

		@media (max-width: 658px) {
			width: 70px;
			height: 70px;
		}
	}

	// .item-how__icon

	&__icon {}

	// .item-how__body

	&__body {}

	// .item-how__title

	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.1;
		color: #263238;

		&:not(:last-child) {
			margin-bottom: 16px;

			@media (max-width: 660px) {
				margin-bottom: 8px;
				line-height: 1;
			}
		}

	}

	// .item-how__text

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 1.8;
		color: #263238;

		@media (max-width: 660px) {
			line-height: 1.1;
		}
	}
}

.picture-how {
	width: 100%;

	// .picture-how__content

	&__content {
		max-width: 750px;
		padding: 166px 45px;
		border-radius: 20px;
		height: 100%;
		background: url("../img/how/card-bg-up.svg") right 0 no-repeat,
			url("../img/how/card-bg-down.svg") right 0 no-repeat rgba(0, 128, 0, 0.1);

		@media (max-width: 1300px) {
			max-width: none;
			padding: 40px 20px;
		}

		@media (max-width: 660px) {
			//padding: 10px 5px;
			padding: 0;
		}
	}

	// .picture-how__picture

	&__picture {
		border-radius: 20px;
		max-width: 660px;
		width: 100%;
		padding: 0px 0px 91.5151% 0px;

		@media (max-width: 1300px) {
			max-width: none;
		}
	}

	// .picture-how__image

	&__image {}
}

//----------------------------------------------------------> pathway

.pathway {
	font-family: 'League Spartan', sans-serif;
	color: #263238;

	// .pathway__container

	&__container {
		padding-top: 100px;
		padding-bottom: 100px;
		display: flex;

		@media (max-width: 1425px) {
			padding-top: 60px;
			padding-bottom: 60px;
		}

		@media (max-width: 1300px) {
			flex-direction: column-reverse;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		//@media (max-width: 660px) {}
	}

	// .pathway__picture

	&__picture {}

	// .pathway__info

	&__info {
		@media (min-width: 1300px) {
			max-width: 726px;
		}
	}
}

.picture-pathway {

	width: 100%;

	// .picture-pathway__content

	&__content {
		max-width: 694px;
		width: 100%;
		height: 100%;
		padding: 99px 40px;
		background: rgba(0, 128, 0, 0.1);
		background: url("../img/pathway/line-bg-up.svg") 0 100% no-repeat,
			url("../img/pathway/line-bg-down.svg") 0 100% no-repeat rgba(0, 128, 0, 0.1);
		border-radius: 20px;

		@media (max-width: 1300px) {
			padding: 40px 30px;
			max-width: none;
		}

		@media (max-width: 660px) {
			padding: 0;
		}
	}

	// .picture-pathway__picture

	&__picture {
		border-radius: 20px;
		max-width: 614px;
		width: 100%;
		padding: 0px 0px 91.53% 0px;

		@media (max-width: 1300px) {
			max-width: none;
		}
	}

	// .picture-pathway__image

	&__image {}
}

.info-pathway {

	// .info-pathway__content

	&__content {
		padding-left: 126px;

		@media (max-width: 1450px) {
			padding-left: 30px;
		}

		@media (max-width: 1300px) {
			padding: 0;
		}
	}

	// .info-pathway__title

	&__title {
		max-width: 538px;
		margin-bottom: 32px;

		@media (max-width: 1425px) {
			max-width: none;
		}

		@media (max-width: 1300px) {
			margin-bottom: 15px;
			text-align: center;
		}

		@media (max-width: 1125px) {
			font-size: 64px;
		}

		@media (max-width: 630px) {
			font-size: 40px;
		}

		& span {
			color: #008000;
		}
	}

	// .info-pathway__text

	&__text {
		line-height: 1.77;
		margin-bottom: 48px;

		@media (max-width: 1300px) {
			margin-bottom: 15px;
			max-width: none;
		}

		@media (max-width: 660px) {
			line-height: 1.1;
		}
	}

	// .info-pathway__selects

	&__selects {
		@media (max-width: 1300px) {
			margin-bottom: 20px;
		}
	}
}

.select-pathway {

	// .select-pathway__wrapper

	&__wrapper {
		padding-right: 33px;
		background: #e6f3e6;
		border-radius: 10px;

		&:not(:last-child) {
			margin-bottom: 39px;

			@media (max-width: 1300px) {
				margin-bottom: 20px;
			}
		}
	}

	// .select-pathway__item

	&__item {
		font-family: 'League Spartan', sans-serif;
		font-weight: 400;
		font-size: 24px;
		line-height: 1.77;
		height: 90px;
		width: 100%;
		padding-left: 30px;
		padding-right: 33px;
		outline: none;
		border-radius: 10px;
		background: #e6f3e6;
		color: #263238;

		@media (max-width: 660px) {
			height: 60px;
		}
	}
}

.option {
	font-family: 'League Spartan', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.77;
	color: #263238;
	padding: 10px;
}

//----------------------------------------------------------> choose

.choose {
	font-family: 'League Spartan', sans-serif;
	color: #263238;

	// .choose__container

	&__container {
		padding-top: 61px;
		padding-bottom: 100px;
		display: flex;

		@media (max-width: 1300px) {
			flex-direction: column;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	// .choose__info

	&__info {
		//padding-right: 15px;
		margin-bottom: 20px;

		@media (min-width: 1300px) {
			padding-right: 177px;
			max-width: 560px px;
		}
	}

	// .choose__picture

	&__picture {
		width: 100%;

		@media (min-width: 1300px) {
			max-width: 680px;
		}

	}
}

.info-choose {

	// .info-choose__title

	&__title {
		max-width: none;
		margin-bottom: 20px;
		line-height: 1.1;
		text-align: center;

		@media (min-width: 1300px) {
			margin-bottom: 71px;
			max-width: 480px;
		}

		@media (max-width: 714px) {
			text-align: center;
			font-size: 50px;
		}

		@media (max-width: 452px) {
			font-size: 40px;
		}

		& span {
			color: #008000;
			text-transform: capitalize;
		}
	}

	// .info-choose__text

	&__text {
		margin-bottom: 20px;

		@media (min-width: 1300px) {
			max-width: 560px;
			margin-bottom: 48px;
		}
	}

	// .info-choose__items

	&__items {
		margin-bottom: 20px;

		@media (max-width: 1300px) {
			display: flex;
			justify-content: space-between;
		}

		@media (max-width: 550px) {
			flex-direction: column;
		}

		@media (min-width: 1300px) {
			margin-bottom: 55px;
		}
	}

	// .info-choose__item

	&__item {
		display: flex;
		gap: 20px;
		flex-direction: column;
		align-items: center;
		flex: 1 1 25%;
		padding: 0px 10px;

		@media (min-width: 1300px) {
			flex-direction: row;
			column-gap: 50px;

			&:not(:last-child) {
				margin-bottom: 48px;
			}
		}

		@media (max-width: 550px) {
			row-gap: 10px;

			&:not(:last-child) {
				margin-bottom: 30px;
			}

		}
	}

	// .info-choose__button

	&__button {
		padding: 22px 68.5px;

		@media (max-width: 1300px) {
			text-align: center;
		}

		@media (max-width: 450px) {
			display: flex;
		}
	}
}

.button-item {
	@media (max-width: 1300px) {
		text-align: center;
	}
}

.item-choose {

	// .item-choose__count

	&__count {
		width: 64px;
		height: 64px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background: rgba(0, 128, 0, 0.1);
		border-radius: 50%;
		color: #008000;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;

		//!
		//@media (max-width: 1300px) {
		//	max-width: 64px;
		//	max-height: 64px;
		//}
	}

	// .item-choose__text

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.11;
		color: #263238;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: center;

		@media (min-width: 1300px) {
			flex: 0 1 250px;
		}
	}
}

.picture-choose {

	// .picture-choose__content

	&__content {
		@media (min-width: 1300px) {
			padding-top: 39px;
		}
	}

	// .picture-choose__picture

	&__picture {
		//max-width: 680px;
		padding: 0px 0px 119.41% 0px;
	}

	// .picture-choose__image

	&__image {}
}


//----------------------------------------------------------> custumers

.custumers {
	font-family: 'League Spartan', sans-serif;
	color: #263238;

	// .custumers__container

	&__container {}

	// .custumers__content

	&__content {
		padding: 100px 0px;

		@media (max-width: 1300px) {
			padding: 20px 0px;
		}
	}

	// .custumers__title

	&__title {
		line-height: 1.114;
		color: #263238;
		text-align: center;
		max-width: 1088px;
		margin: 0px auto;
		margin-bottom: 32px;

		& span {
			color: #008000;
			text-transform: capitalize;
		}

		@media (max-width: 1300px) {
			margin-bottom: 20px;
		}

		@media (max-width: 630px) {
			font-size: 40px;
		}
	}

	// .custumers__text

	&__text {
		max-width: 533px;
		margin: 0px auto;
		margin-bottom: 48px;

		@media (max-width: 1300px) {
			margin-bottom: 20px;
		}
	}

	// .custumers__cards

	&__cards {

		display: flex;
		margin: 0px -24px;
		//column-gap: 48px;

		&:not(:last-child) {
			margin-bottom: 48px;
		}

		@media (max-width: 991.98px) {
			flex-direction: column;
			gap: 10px;
		}

		@media (max-width: 480px) {
			margin: 0;

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	// .custumers__button-wrapper

	&__button-wrapper {
		text-align: center;
	}

	// .custumers__button

	&__button {
		min-width: 222px;
		min-height: 64px;
		color: #FFFFFF;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		//padding: 22px 81px;

		@media (max-width: 450px) {
			display: flex;
			padding: 10px;
		}
	}
}

.card-custumer {

	// card-custumer__wrapper

	&__wrapper {
		padding: 0px 24px;

		@media (max-width: 480px) {
			padding: 0px;
		}
	}

	// .card-custumer__item

	&__item {
		overflow: hidden;
		background: rgba(0, 128, 0, 0.05);
		border-radius: 20px;
	}
}

.item-customer-card {

	display: flex;

	// item-customer-card__wrapper

	&__wrapper {
		width: 117.723%;

		@media (max-width: 390px) {
			display: none;
		}
	}

	// .item-customer-card__picture

	&__picture {
		padding: 0px 0px 124.834% 0px;
	}

	// .item-customer-card__image

	&__image {}

	// .item-customer-card__body

	&__body {
		display: flex;
		flex-direction: column;
		padding: 32px;

		@media (max-width: 450px) {
			padding: 15px;
		}
	}

	// .item-customer-card__text

	&__text {
		flex: 1 1 auto;
	}

	// .item-customer-card__label

	&__label {
		font-weight: 600;
		font-size: 19px;
		line-height: 1.77;
		color: #263238;
	}
}

//----------------------------------------------------------> download

.download {
	font-family: 'League Spartan', sans-serif;
	color: #263238;

	// .download__container

	&__container {}

	// .download__content

	&__content {

		&:last-child {
			padding: 100px 7px 200px;
		}

		@media (max-width: 1300px) {
			&:last-child {
				padding: 20px 0px;
			}

			//padding: 20px 0px;
		}
	}

	// .download__item

	&__item {
		border-radius: 20px;
		background: url("../img/download/ellipse-up.svg") center no-repeat,
			url("../img/download/ellipse-down.svg") center no-repeat rgba(0, 128, 0, 0.05);

		@media (max-width: 665px) {
			background: rgba(0, 128, 0, 0.05);
		}
	}

	// .download__footer

	&__footer {}
}

.item-download {
	padding: 70px 0px 62px;

	//padding: 59px 0px 51px;
	@media (max-width: 991.98px) {
		padding: 40px 30px;
	}

	@media (max-width: 550px) {
		padding: 20px 15px;
	}

	// .item-download__title

	&__title {
		padding: 0px 10px;
		max-width: 760px;
		margin: 0px auto;
		line-height: 1.1886;
		font-size: 56px;

		&:not(:last-child) {
			margin-bottom: 48px;
		}

		& span {
			color: #008000;
		}

		@media (max-width: 786px) {
			text-align: center;
			font-size: 50px;
			max-width: none;
		}

		@media (max-width: 665px) {
			font-size: 40px;
			margin-bottom: 20px;
		}
	}
}

.footer-download {
	display: flex;
	justify-content: center;
	column-gap: 24px;
	row-gap: 40px;
	flex-wrap: wrap;

	// .footer-download__link

	&__link {
		display: inline-block;
		max-width: 168px;
		max-height: 57px;
		border-radius: 10px;
		overflow: hidden;
		transition: all 0.3s ease 0s;

		&:hover {
			box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.66);
		}
	}

	// .footer-download__icon

	&__icon {}
}

//----------------------------------------------------------> footer

.footer {

	font-family: 'League Spartan', sans-serif;
	color: #263238;

	background: rgba(242, 248, 242, 0.5);

	// .footer__content

	&__content {
		max-width: 1650px;

		@media (min-width: 1275px) {
			padding: 68px 15px 56px;
		}

		padding: 30px 15px 30px;
		margin: 0px auto;
	}

	// .footer__row-up

	&__row-up {
		border-bottom: 1px solid rgba(38, 50, 56, 0.31);
		display: flex;
		justify-content: space-between;
		column-gap: 15px;
		padding-bottom: 30px;

		@media (min-width: 1275px) {
			padding-bottom: 100px;
		}

		@media (max-width: 1130px) {
			flex-direction: column;
			//align-items: center;
		}
	}

	// .footer__logo

	&__logo {}

	// .footer__form

	&__form {
		//flex: 1 1 auto;

		@media (min-width: 1131px) {
			flex: 0 1 533px;
		}

		@media (max-width: 1130px) {
			//display: flex;
			//flex-direction: column;
			//display: block;
			margin: 0px auto;
		}
	}

	// .footer__social

	&__social {
		display: flex;
		column-gap: 48px;
		row-gap: 25px;
		flex-wrap: wrap;

		@media (max-width: 1130px) {
			justify-content: space-around;
		}

		@media (max-width: 390px) {
			flex-direction: column;
			align-items: center;
			row-gap: 40px;
		}
	}

	// .footer__row-down

	&__row-down {
		padding-top: 20px;
		display: flex;
		justify-content: space-between;

		@media (min-width: 1300px) {
			padding-top: 56px;
		}

		@media (max-width: 720px) {
			flex-direction: column-reverse;
		}
	}
}

.logo-footer {

	// .logo-footer__title

	&__title {
		font-weight: 500;
		font-size: 22px;
		line-height: 1.136;
		padding: 0px 0px 0px 30px;
		background: url("../img/footer/line-1.svg") 0 50% no-repeat,
			url("../img/footer/line-2.svg") 10px 50% no-repeat,
			url("../img/footer/line-3.svg") 20px 50% no-repeat;
		margin-bottom: 24px;
	}

	// .logo-footer__text

	&__text {
		max-width: 331px;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.77;

		@media (max-width: 1130px) {
			max-width: none;
			margin-bottom: 15px;
			text-align: center;
		}
	}
}

.form-footer {

	// .form-footer__text

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 1.77;
		margin-bottom: 10px;
		max-width: 435px;

		@media (min-width: 1130px) {
			margin-bottom: 24px;
		}

		@media (max-width: 1130px) {
			max-width: none;
			text-align: center;
		}
	}

	// .form-footer__form

	&__form {
		@media (max-width: 1130px) {
			max-width: none;
			margin-bottom: 20px;
		}

	}
}

.form {

	// .form__content

	&__content {}

	// .form__input

	&__input {}

	// .form__button

	&__button {

		// .form__button_footer

		&_footer {}
	}
}

.social-footer {

	// .social-footer__follow-us

	&__follow-us {}

	// .social-footer__call-us

	&__call-us {}
}

.title-social {

	font-weight: 700;
	font-size: 16px;
	line-height: 1.125;

	@media (max-width: 1130px) {
		font-size: 24px;
		text-align: center;
	}

	// .title-social__tel

	&__tel {
		position: relative;
		font-family: 'Roboto', sans-serif;
		color: #263238;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.187;
		cursor: pointer;
		transition: all 0.3s ease 0s;

		&::after {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 0;
			height: 1px;
			width: 0;
			background-color: #008000;
			transition: all 0.3s ease 0s;
		}

		&:hover {
			color: #008000;
			font-weight: 500;
		}

		&:hover::after {
			width: 100%;
		}
	}
}

.follow-us-footer {

	// follow-us-footer__title

	&__title {
		margin-bottom: 15px;

		@media (min-width: 1273px) {
			margin-bottom: 24px;
		}
	}

	// .follow-us-footer__icons

	&__icons {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		@media (max-width: 390px) {
			column-gap: 60px;
		}
	}
}

.icons-footer {

	// .icons-footer__item

	&__item {
		display: inline-block;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		overflow: hidden;
		transition: all 0.3s ease 0s;

		&:hover {
			transform: scale(1.2);
			//box-shadow: 0px 0px 27px 0px rgba(0, 128, 0, 0.75);
		}
	}

	// .icons-footer__instagram

	&__instagram {}

	// .icons-footer__facebook

	&__facebook {}

	// .icons-footer__twitter

	&__twitter {}
}

.call-us-footer {

	// .call-us-footer__title

	&__title {
		margin-bottom: 15px;

		@media (min-width: 1273px) {
			margin-bottom: 24px;
		}
	}
}

.info-footer {

	// .info-footer__rights

	&__rights {}

	// .info-footer__links

	&__links {}
}

.links-info-footer {

	// .links-info-footer__list

	&__list {
		display: flex;
		column-gap: 40px;

		@media (max-width: 720px) {
			flex-direction: column;
			align-items: center;
			row-gap: 40px;
			margin-bottom: 20px;
		}
	}

	// .links-info-footer__item

	&__item {}

	// .links-info-footer__link

	&__link {
		position: relative;
		cursor: pointer;
		font-family: 'League Spartan', sans-serif;
		color: #263238;
		line-height: 1.14;
		font-weight: 400;
		font-size: 14px;

		&:hover {
			color: #008000;
		}

		&::after {
			content: '';
			position: absolute;
			height: 1px;
			width: 0;
			bottom: -3px;
			left: 0;
			//background: #263238;
			background: #008000;
			transition: all 0.3s ease 0s;
		}

		&:hover::after {
			width: 100%;
		}
	}
}